* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/roxo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   width: 828px;
   height: 793px;
   
   padding: 30px;
   border-radius: 20px;
   
}
label{
    font-family: 'Arial';
    font-size: 25px;
}
input{
    width: 100%;
    height: 60px;
    background-color: #FEFEFE;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
}
button{
    background-color: #c40694;
    width: 267px;
    height: 60px;
    font-size: 32px;
    color: #FFFFFF;
    border-radius: 80px;
}
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}




