* {
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family:'Arial';
    margin: 20px 0px;
}
span {
    display: block;
}