* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container {
    display: flex;
    justify-content: center;
    position:relative;
    text-align: center;
    width: 0%; 
    height:550px; 
    right: 50;
  }

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FEFEFE;   
    position: absolute;
    text-align: center;
    top: 5%;
    left: 330px;
    font-size: 60px;
float: top;
clear: both;
  }




body{
    background-image: url(images/blue.jpg);
    background-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
form{
   display:flex;
   flex-direction: column;
   justify-content:center;
   gap: 20px;
   width: 828px;
   height: 693px;
   padding: 30px;
   border-radius: 0px;
  
   
}
label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: rgba(254, 254, 254, 1);
}
input{
    width: 100%;
    height: 60px;
    background-color: rgba(69, 69, 68, 1);
    font-size: 25px;
    padding: 0px;
    border-radius: 0px;
}
button{
    background-color: rgba(69, 69, 68, 1);
    width: 267px;
    height: 60px;
    font-size: 32px;
    color: #FFFFFF;
    border-radius: 80px;
}
.botao{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 0px 80px;
    width: 100%;
    gap: 40px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(45, 55, 242);
}




